body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 194, 12);
}
.input-list {
    width: 70vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 32px;
    background-color: rgb(50,185,225);
}
.input-button {
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: rgb(25,175,25);
}
#myList {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
ul {
    list-style-type: circle;
}
li {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
} 
.colorSave {
    background-color: chartreuse;
}
.colorSaveButton {
    color: chartreuse;
}
.saveList {
    background-color: green;
}
.delList {
    background-color: red;
}